.img-card-principal-mobile{
    width: 100%;
    height: 150px;
    top: 0px;
    opacity: 0.6;
    position: absolute;
    z-index: -10;
}

.img-card-principal-desktop{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
}

.texts-info{
    margin: 16px;

}

.img-card{
    width: 60%;
    margin: 8px 32px;
    border-radius: 15px;
}