.container-service{
    margin-top: 56px;
}

.card-service{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #ffffff;
    padding: 16px;
    margin: 32px 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #383838;
}

.dark .card-service{
    background-color: #383838;
    box-shadow: none;
    border: 2px solid #b6be3a;
}

.tittel-card-service{
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 8px auto;
}

.img-card-service{
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #383838;
    margin: 8px auto;
}

.text-card-service{
    text-align: justify;
    padding: 16px;
    font-size: 1rem;
}

.info-btn{
    font-size: 0.8rem;
    color: #555555;
    margin-bottom: 16px;
}

.info-btn-none{
    display: none;
}

.text-card{
    width: 90%;
    background-color: #ffffff;
    text-align: justify;
    margin: 0 auto;
    font-size: 1em;
    display: block;
}

.dark .text-card{
    background-color: #383838;
}

.info-text-service{
    margin-bottom: 8px;
}

.dnone{
    display: none;
}

.btn-card{
    font-size: 2em;
    font-weight: 500;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgb(76, 184, 33);
    box-shadow: 2px 2px 4px #383838;
    margin: 0px auto;
    cursor: pointer;
}

.btn-card-hide{
    background-color: rgb(204, 13, 13);
}
