

.card-service{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 32px;
}

.tittel-card-service{
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
}

.text-card-service{
    text-align: justify;
    padding: 24px;
    font-size: 1rem;
}

.img-card-service{
    width: 90%;
    margin: 8px auto;
}

.text-card{
    width: 90%;
    background-color: #ffffff;
    text-align: justify;
    margin: 0 auto;
    font-size: 1em;
    display: block;
}

.info-text-service{
    margin-bottom: 8px;
}

.dnone{
    display: none;
}

.btn-card{
    font-size: 2em;
    font-weight: 500;
    width: 42px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgb(93, 218, 44);
    margin: 10px auto;
    cursor: pointer;
    opacity: 0.5;
}

.btn-card:hover{
    transition: 1s;
    box-shadow: 2px 2px 5px black;
    opacity: 1;
}

.btn-card-hide{
    background-color: rgb(204, 13, 13);
}
